body {
  background-color: rgba(0, 0, 0, 1);
}
input {
  background-color: rgba(40, 40, 40, 1);
  color: rgba(150, 150, 150, 1);
}
#buttons {
  height: 7vh;
  width: 98vw;
}
#canvas {
  width: 75vw;
  height: 90vh;
  float: left;
  background-color: rgba(50, 50, 50, 1);
}
#work_box {
  float: left;
}
#params {
  width: 22vw;
  height: 43vh;
  background-color: rgba(120, 120, 120, 1);
}
#result {
  width: 22vw;
  height: 43vh;
  color: black;
  background-color: rgba(150, 150, 150, 1);
  clear: both;
}
